
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(0.4);
}

.login_card{
  padding: 20px;
  box-shadow: 0 0 7px 1px rgba(0,0,0.3);
  opacity: .9;

  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  max-width: 300px;
  min-width: 300px;
}
.login_logo{
  width: 100px;
  height: 100px;
  filter: drop-shadow(0 0 4px rgb(22, 98, 9));
}
.login_title {
  /*margin-top: 5px;*/
  position: relative;
  top:-15px;
  font-family: 'Courgette', cursive;
  font-size: xx-large;
}



.login_form {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  height: fit-content;
  width: 100%;
  margin-bottom: 10px;

}
.login_form_inputs {
  width: 80%;
}



.input {

}
.login_submit{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.login_submit > img{
  width: 30px;
  height: 30px;
}
