body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --color-navy: #314e71;
  --color-white: white;
  --color-gray-lite: #e8e8e8;
  --color-save: #1d886d;
  --color-blue: #8395aa;
  --color-grey: #6b7f82;
  --color-red: #c42126;
}
