.App {
  text-align: center;

}


.App, html, body, #root {
  height: calc(100vh - 80px);
  margin: 0;
  padding:0;
}

.navBar{
  height: 80px;
  display: flex;
  align-items: center;

}
.navBar > :last-child{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.navbar_logo{
  width: 60px;
  height: 60px;

}
.navBar_icon{
  display: flex !important;
  align-items: flex-end;
}
.navBar_homeButtonText, .navBar_homeButton:hover, .navBar_homeButton:active, .navBar_homeButton:visited  {
  color:var(--white);
  margin: 0 20px;
}
