.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-family: "Abhaya Libre", serif;
  color: var(--success);
  font-size: 35px;
}

.schedule-List {
  font-family: "Abhaya Libre", serif;
}
th {
  background-color: #eeeeee;
  font-weight: normal;
  margin: 6px;
  border-collapse: separate;
  border: 2px solid #5ca2fa;
  border-radius: 10px;
}

tr:nth-child(even) {
  background-color: #eeeeee;
  border-radius: 10px;
  border-collapse: collapse;
}

.main-card{
  padding-top: 60px;
}
