.homeScreen_title {

    color: var(--success);
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.homeScreen_table {
    width: min(800px, 80vw)!important;
    border-radius: 20px !important;
    border:0 !important;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3);
    box-sizing: border-box;
}

.homeScreen_table > :first-child *{
    border:0 !important;

}
.homeScreen_component {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

}
