.homeScreen_title {

    color: var(--success);
    font-size: 35px;
}

.homeScreen_table {
    width: 80vw !important;
}


.homeScreen_component {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
